body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    background-color: rgb(111, 78, 55);
    color: white;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
}

.header {
    height: 10vh;
    font-size: 2.5rem;
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 2rem;
    width: 100%;
}

.header-text, .footer-text {
    color: white; 
    font-family: 'Playfair Display', serif;
}

.quote-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(200, 178, 155);
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('images/beige_placeholder.jpg') center center / cover no-repeat;
}

.full-screen-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.full-screen-img.loaded {
    opacity: 1;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .text-overlay {
        font-size: 0.875rem; /* Smaller font size for very small devices */
        padding: 0.5rem;
    }

    .share-socmed a {
        font-size: 16px; /* Smaller icon size for very small devices */
        width: 32px;
        height: 32px;
        line-height: 32px;
    }
}

/* Small devices (portrait phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .text-overlay {
        font-size: 1rem;
        padding: 0.75rem;
    }

    .share-socmed a {
        font-size: 18px;
        width: 36px;
        height: 36px;
        line-height: 36px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .text-overlay {
        font-size: 1.25rem;
        padding: 1rem;
    }

    .share-socmed a {
        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-overlay {
        font-size: 1.5rem;
        padding: 1.25rem;
    }

    .share-socmed a {
        font-size: 22px;
        width: 44px;
        height: 44px;
        line-height: 44px;
    }
}

/* iPhone SE and similar devices (375px width) */
@media (max-width: 375px) {
    .text-overlay {
        font-size: 0.75rem; /* Smaller font size for very small devices */
        padding: 0.5rem;
    }

    .share-socmed a {
        font-size: 14px; /* Smaller icon size for very small devices */
        width: 28px;
        height: 28px;
        line-height: 28px;
    }
}

.image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.quote-text {
    color: #fff;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
    white-space: normal; 
    margin: 0 auto;
    padding: 0.5rem;
    letter-spacing: 0.05em; 
    max-width: 100%;
}

.link-primary {
    display: block;
    text-align: center;
    color: white;

}

.share-socmed {
    display: flex;
    align-items: center;
}

.share-socmed a {
    font-size: 24px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    color: white;
    background: #125688;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.share-socmed a:hover {
    background-color: #0d4366;
}

.share-socmed a.fa-instagram {
    background: #d62976;
}

.share-socmed a.fa-instagram:hover {
    background-color: #a01c58;
}

.share-socmed a.fa-facebook {
    background: #3B5998;
}

.share-socmed a.fa-facebook:hover {
    background-color: #0d4366;
}

.share-socmed a.fa-twitter {
    background: #55ACEE;
}

.share-socmed a.fa-twitter:hover {
    background-color: #0d4366;
}

.custom-btn {
    background-color: rgb(0, 128, 128); 
    border: none;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    height: 50px;
    margin-right: 20px;
}

.custom-btn:hover {
    background-color: #008b8b;
    color: white;
}

.custom-btn:active {
    background-color: #48d1cc; 
}

.link-to-about-dev {
    display: flex;
    align-items: center;
}

.link-light {
    color: white;
    text-decoration: none;
}

.link-light:hover {
    color: white;
    text-decoration: underline;
}